<%- include('header'); %>
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3">Bus</h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="/dashboard">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="#">Bus</a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="#">Datatables</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">List of Bus</h4>
              <!-- Button added here -->
              <a href="/dashboard/bus/add" class="btn btn-primary">Add Bus</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  id="basic-datatables"
                  class="display table table-striped table-hover"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Bus Line</th>
                      <th>Bus Number</th>
                      <th>Bus Type</th>
                      <th>Driver</th>
                      <th>Registration Number</th>
                      <th>Status</th>
                      <th>Total Seats</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(data.bus.length > 0){ for(var i = 0; i< data.bus.length; i++) { %>
                      <tr>
                        <td><%= data.bus[i].id%></td>
                        <td><%= data.bus[i].bus_line%></td>
                        <td><%= data.bus[i].bus_number%></td>
                        <td><%= data.bus[i].bus_type%></td>
                        <td><%= data.bus[i].driver_id.first_name%>  <%= data.bus[i].driver_id.last_name%></td>
                        <td><%= data.bus[i].registration_number%></td>
                        <td><%= data.bus[i].status%></td>
                        <td><%= data.bus[i].total_seats%></td>
                      </tr>
                    <%}} else{ %>
                    <p>No Data</p>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
  </div>
            
<%- include('footer') %>