<%- include('header'); %>
            <!--Main Content Here-->
            <div
              class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
            >
              <div>
                <h3 class="fw-bold mb-3">Dashboard</h3>
                <h6 class="op-7 mb-2">Ryde Admin Dashboard</h6>
              </div>
             
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-primary bubble-shadow-small"
                        >
                          <i class="fas fa-users"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Passengers</p>
                          <h4 class="card-title"><%= data.count.passenger_count %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-info bubble-shadow-small"
                        >
                          <i class="fas fa-user-check"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Driver Count</p>
                          <h4 class="card-title"><%= data.count.driver_count %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">List of Trips</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Trip Date</th>
                            <th>Bus Line</th>
                            <th>Driver Name</th>
                            <th>Passenger Count</th>
                            
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Trip Date</th>
                            <th>Bus Line</th>
                            <th>Driver Name</th>
                            <th>Passenger Count</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% if(data.trips.length > 0){ for(var i = 0; i< data.trips.length; i++) { 
                            const trip = data.trips[i];
                            %>
                            <tr>
                              <td><%= trip.trip_date%></td>
                              <td><%= trip.bus_line%></td>
                              <td><%= trip.driver_name%></td>
                              <td><%= trip.passenger_count%></td>
                            </tr>
                          <%}} else{ %>
                          <p>No Data</p>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Cut Here-->
<%- include('footer') %>